* {
    padding: 0;
    margin: 0 ;
}

/* 67th GAKUTEN SPECIAL PRIZE */

position: absolute;
width: 352px;
height: 29.23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #D4C79A;
/* EXHIBITION in PARIS */

position: absolute;
width: 322px;
height: 40.32px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 40px;

color: #D4C79A;



